.hd {
  background-color: var(--hdgreen);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.hd_title {
  font-size: 3rem;
  font-style: italic;
}

#sideicon {
  font-size: 3rem;
  margin-left: 1rem;
}

#shopcart {
  font-size: 3rem;
  margin-right: 1rem;
}

.sd_myprofile {
  border: 1px solid red;
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sd_myprofile > * {
  border: 1px solid blueviolet;
}

.sd_myprofile > * > * {
  border: 1px solid hotpink;
}

.sd_pf_atr {
  margin: 0 1rem 0 1rem;
}

.sd_pf_mybtn {
  margin-top: 0.5rem;
}

.sd_pf_info {
  flex-grow: 1;
}

.sd_pf_exinfo {
}
