.payMain_container {
  background-color: white;
  width: 1000px;
  min-height: 980px;
  height: auto;
  margin: auto;
  /* padding-top: 1rem; */
  text-align: center;
}

.__payMain_container {
  width: 950px;
  height: auto;
  margin: auto;
}

.payMain_container .pay_branch_container {
  width: 1000px;
  height: 100px;
}

.payMain_container .pay_branch_container p {
  height: 100%;
  line-height: 100px;
  font-size: 2.2rem;
}

.payMain_container .pay_choice_container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.__pay_pickup_btn01 {
  width: 50%;
  height: 60px;
}

.__pay_pickup_btn02 {
  width: 50%;
  height: 60px;
  border: 1px solid dodgerblue;
  border-radius: 10px 10px 0 0;
  border-bottom: 0px solid black;
}

.__pay_delivery_btn02 {
  width: 50%;
  height: 60px;
}

.__pay_delivery_btn01 {
  width: 50%;
  height: 60px;
  border: 1px solid dodgerblue;
  border-radius: 10px 10px 0 0;
  border-bottom: 0px solid black;
}

.pay_tabsubtitle {
  font-size: 0.8rem;
}

/* 결제 주소영역 */
.payMain_container .pay_adress_container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.payMain_container .pay_adress_container .pay_adress_center {
  flex-grow: 2;
}
.payMain_container .pay_adress_container .pay_adress_left {
  width: 70px;
  opacity: 0;
}
.pay_modal_title {
  font-size: 1.7rem;
  text-align: center;
}
.blankSpace {
  width: 100%;
  min-height: 100px;
  color: initial;
}

.pay_adress_right2 {
  width: 70px;
  opacity: 0;
}

/* 결제 메뉴 영역 */
.payMain_container .pay_menu_container {
  width: 100%;
  min-height: 200px;
  height: auto;
  border: 1px solid var(--gray2);
  border-radius: 10px;
  margin-bottom: 35px;
}

.payMain_container .pay_menu_container .pay_menu_box {
  margin: auto;
  margin-top: 10px;
  width: 95%;
  min-height: 130px;
  height: auto;
}

.payMain_container .pay_menu_container .pay_menu_add {
  margin: auto;
  width: 95%;
  height: 60px;
  border-top: 1px solid var(--gray2);
  line-height: 60px;
  font-size: 1.3rem;
  color: #3182ce;
}

/* 결제 요청사항 영역 */
.payMain_container .pay_request_container {
  width: 100%;
  min-height: 350px;
  height: auto;
  border: 1px solid var(--gray2);
  border-radius: 10px;
  margin-bottom: 35px;
}

.pay_request_container_pick {
  width: 100%;
  min-height: 240px;
  height: auto;
  border: 1px solid var(--gray2);
  border-radius: 10px;
  margin-bottom: 35px;
}

.payMain_container > * .pay_req_title {
  font-size: 1.5rem;
  text-align: left;
  padding: 15px 0 0 15px;
}

.payMain_container > * .pay_req_default01 {
  width: 95%;
  height: 60px;
  line-height: 60px;
  margin: auto;
  border-bottom: 1px solid var(--gray2);
  text-align: left;
  padding-left: 25px;
}

.payMain_container > * .pay_req_default02 {
  width: 95%;
  height: 60px;
  line-height: 60px;
  margin: auto;
  border-bottom: 1px solid var(--gray2);
  text-align: left;
  padding-left: 25px;
}

.payMain_container > * .pay_req_choice {
  height: 60px;
  width: 95%;
  line-height: 60px;
  margin: auto;
  font-size: 1.2rem;
}

.request_directbox {
  display: flex;
  margin-top: 5px;
  margin-left: 25px;
  height: 90px;
}
.request_directbox p {
  color: var(--gray4);
  margin: 0px 20px 0px 15px;
  line-height: 30px;
}

.request_directbox p:nth-child(3) {
  margin: 0px 0px 0px 10px;
  line-height: 150px;
}

.request_directinput {
  border: 1px solid var(--gray2);
  font-size: 1.2rem;
  width: 730px;
  height: 80px;
  text-align: center;
  line-height: 60px;
}

._payment_reqbtn {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  width: 120px;
  height: 40px;
  font-size: 0.9rem;
  padding: 3px;
  color: white;
  border-radius: 10px;
  background-color: #acacac;
}
._payment_reqbtn:hover {
  background-color: #919191;
}

/* 결제 결제수단 영역 */
.payMain_container .pay_paymethod_container {
  width: 100%;
  height: 150px;
  border: 1px solid var(--gray2);
  border-radius: 10px;
  margin-bottom: 35px;
}

.payMain_container .pay_paymethod_container .pay_method_title {
  font-size: 1.5rem;
  text-align: left;
  padding: 15px 0 0 15px;
}

.pay_methid_radio {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pay_radio01 {
  font-size: 1.5rem;
}

/* 결제 총 금액 영역 */
.payMain_container .pay_amount_container {
  width: 100%;
  height: 190px;
  position: relative;
}

.payMain_container .pay_amount_container .pay_amount_detailbox {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}

.pay_amount_detailbox > p {
  width: 50%;
  height: 40px;
}
.pay_amount_detailbox > .pay_detailkind {
  text-align: left;
}
.pay_amount_detailbox > .pay_detailcash {
  text-align: right;
}

.payMain_container .pay_amount_container .pay_amount_totalbox {
  width: 100%;
  height: 70px;
  display: flex;
  border-top: 1px solid var(--gray2);
}
.pay_amount_totalbox > p {
  width: 50%;
  height: 70px;
  line-height: 70px;
  font-size: 1.6rem;
}
.pay_amount_totalbox > .pay_total {
  text-align: left;
}
.pay_amount_totalbox > .pay_totalcash {
  text-align: right;
}

/* 결제 버튼 */
._payment_paybtn {
  margin: auto;
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  padding: 3px;
  color: white;
  border-radius: 10px;
  background-color: #3182ce;
}

._payment_paybtn:hover {
  background-color: #3278b9;
}
