.payMain_container > * {
  border: 1px solid red;
}
.payMain_container > * > * {
  border: 1px solid blue;
}
.payMain_container > * > * > * {
  border: 1px solid yellow;
  background-color: antiquewhite;
}
.payMain_container > * > * > * > * {
  border: 1px solid darkcyan;
  background-color: lightcyan;
}

.payMain_container {
  background-color: white;
  width: 1000px;
  min-height: 980px;
  height: auto;
  margin: auto;
}

.payMain_container .pay_order_container {
  background-color: blanchedalmond;
  width: 100%;
  height: 220px;
  display: flex;
}

.pay_order_box01 {
  flex-grow: 1;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.pay_order_box01 .pay_order_img {
  width: 100%;
  height: 140px;
  line-height: 140px;
}

.pay_order_box01 .pay_order_img img {
  width: 200px;
  margin: auto;
}

.pay_order_box01 .pay_order_price {
  height: 60px;
  line-height: 60px;
}

.pay_order_box02 {
  flex-grow: 1;
  margin: 10px 10px 10px 10px;
  text-align: center;
}
